#myChart {
    position: absolute;
    bottom: 0;

    width: 80%; /* Angi en fast bredde */
    max-width: 600px; /* Legg til en maksbredde for å hindre at den blir for bred */
    max-height: 35 0px; /* Legg til en makshøyde for å hindre at den blir for høy*/
    margin: 0 auto; /* Sentrerer grafen horisontalt */
    display: block; /* Sørger for at den er en blokk-element */
}