<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Investment Calculator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1 class="custom-margin">Investment Calculator</h1>

    <form id="savings-form"></form>
    <label class="input-label custom-margin" for="starting_investment">Starting investment:</label>
    <input class="custom-margin" type="number" id="starting_investment" name="starting_investment" required>
    <br>

    <label class="input-label custom-margin" for="monthly_investment">Monthly investment:</label>
    <input class="custom-margin" type="number" id="monthly_investment" name="monthly_investment" required>
    <br>

    <label class="input-label custom-margin" for="saving_duration">Saving duration (in years):</label>
    <input class="custom-margin" type="number" id="saving_duration" name="saving_duration" required>
    <br>

    <label class="input-label custom-margin" for="annual_return_percentage">Annual return (in percentage):</label>
    <input class="custom-margin" type="number" id="annual_return_percentage" name="annual_return_percentage" required>
    <br> 

    <button class="input-label custom-margin" type="submit" id="calculate-button">Calculate</button>

    <p class="custom-margin" id="investment">Total Investment: 0 kr</p>
    <p class="custom-margin" id="money">Future Value: 0 kr</p>
    <p class="custom-margin" id="profit">Profit Made: 0 kr</p>

    <canvas id="myChart" width="400" height="400"></canvas>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
